* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #eef2f3, #d9e2ec);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;;
}

.calculator {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e40ef;

}

.rate {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

#result {
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
footer {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #555;
    background-color: #f0f4f8;
    border-top: 1px solid #ccc;
    border-radius: 0 0 12px 12px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#language {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px; 
}
